<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Drupal Commerce | Welcome</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400"
        rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
<header>

  <div class="container">

    <div class="site-header__logo">
      <img src="./gfx/logo.png" alt="Drupal Commerce">
    </div>
    <div class="site-header__slogan">
      The Adaptive Sales Platform

    </div>
    <div class="site-header__right">
      Toll Free <span><a href="tel:18778834697">1.877.883.4697</a></span>
    </div>
  </div>

</header>
<div class="container">
  <div class="main__wrapper columns">
    <div class="main__section column is-9">
      <div class="main_description">
        <h1>Kickstart: Build & install</h1>
        <p>
          <strong>Intro/overview text, exmplain what this is all about;</strong>
          that means you
          can keep, replace, grow, remove and or custom-modify any single
          portion
          of your eCommerce experience, at your own pace. Drupal Commerce is an
          open source Adaptive Sales Platfasily configured and integrated into
          the tools that drive your business today and in the future.
        </p>
      </div>

      <div class="product__build location">
        <a class="arrow_up" href="#"></a>
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-world">Location</h2>
            <p>
              Explain stuff good... ok? commmerce is an open source Adaptive
              Sales
              Platfasily configured and integrated into the tools that drive
              your
              business today and in the future.
            </p>
          </div>

        </div>
        <div class="product__content columns">

          <div class="box__item column ">
            <h3>International</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>
          <div class="box__item column">
            <h3>North America</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>
          <div class="box__item column ">
            <h3>EU</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>
          <div class="box__item column">
            <h3>USA</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>


        </div>

      </div>

      <div class="product__build package">
        <a class="arrow_up" href="#"></a>
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-package">Package</h2>
            <p>
              Explain stuff good... ok? commmerce is an open source Adaptive
              Sales
              Platfasily configured and integrated into the tools that drive
              your
              business today and in the future.
            </p>
          </div>

        </div>
        <div class="product__content columns">

          <div class="box__item column ">
            <h3>Base</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>
          <div class="box__item column">
            <h3>Catalog</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>
          <div class="box__item column ">
            <h3>Events</h3>
            <div class="box__description">
              Do we need a description with these things?
            </div>
          </div>
          <div class="box__item column">
            <h3>Subscriptions</h3>
          </div>


        </div>

      </div>

      <div id="payments" class="product__build payments">
        <a class="arrow_up" href="#"></a>
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-payment">
              <!--Render Material icon if one is set-->
              <i v-if="material_icon" class="material-icons section-icon">{{ material_icon }}</i>
              <i v-else class="material-icons section-icon">dashboard</i>
              {{ info.title }}
            </h2>
            <p>{{ info.description }}</p>
          </div>

        </div>
        <div class="product__content">
          <span class="pay-sponsor">Sponsored Providers</span>
          <div v-for="module in modules" class="box__item">
            <div v-if="module.image" class="pay__logo">
              <img
                  v-bind:src="module.image"
                  v-bind:alt="module.description">
            </div>
            <h3>{{ module.name }}</h3>
            <div class="box__description">
              {{ module.description }}
            </div>
          </div>
        </div>
      </div>

      <div id="shipping" class="product__build shipping">
        <a class="arrow_up" href="#"></a>
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-payment">
              <!--Render Material icon if one is set-->
              <i v-if="material_icon" class="material-icons section-icon">{{
                material_icon }}</i>
              <i v-else class="material-icons section-icon">dashboard</i>
              {{ info.title }}
            </h2>
            <p>{{ info.description }}</p>
          </div>

        </div>
        <div class="product__content columns">
          <div v-for="module in modules" class="box__item column">
            <div v-if="module.image" class="pay__logo">
              <img
                  v-bind:src="module.image"
                  v-bind:alt="module.description">
            </div>
            <h3>{{ module.name }}</h3>
            <div class="box__description">
              {{ module.description }}
            </div>
          </div>
        </div>
      </div>

      <div class="product__build dummy__content">
        <a class="arrow_up" href="#"></a>
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-package">Content</h2>
            <p>
              Explain stuff good... ok? commmerce is an open source Adaptive
              Sales
              Platfasily configured and integrated into the tools that drive
              your
              business today and in the future.
            </p>
          </div>

        </div>
        <div class="product__content">
          <div class=" columns">
            <div class="box__item column ">
              <h3>Migrate</h3>
              <div class="box__description">
                Do we need a description with these things?
              </div>
            </div>
            <div class="box__item column">
              <h3>Demo Content</h3>
              <div class="box__description">
                Do we need a description with these things?
              </div>
            </div>
            <div class="box__item column ">
              <h3>Clean</h3>
              <div class="box__description">
                Do we need a description with these things?
              </div>
            </div>
          </div>
          <div class="select__box">
            <span class="select__title">Migration Source</span>
            <div class="field">
              <p class="control">

                  <span class="select ">
                    <select>
                      <option>Select dropdown</option>
                      <option>With options</option>
                    </select>
                  </span>
              </p>
            </div>

          </div>

        </div>

      </div>


      <div class="product__build security__content">
        <a class="arrow_up" href="#"></a>
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-security">
              <i class="material-icons section-icon">security</i>
              Updates & Security</h2>
            <p>
              Explain stuff good... ok? commmerce is an open source Adaptive
              Sales
              Platfasily configured and integrated into the tools that drive
              your
              business today and in the future.
            </p>
          </div>

        </div>
        <div class="product__content columns">
          <div class="column is-6">
            <div class="email__form">
              <div class="field">
                <p class="control">
                  <input class="input" type="text" placeholder="Email Address*">
                </p>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="product__build build__content">
        <div class="top__info">
          <div class="box__content">
            <h2 class="icon-drupal">Build & Install</h2>
            <p>
              Explain stuff good... ok? commmerce is an open source Adaptive
              Sales
              Platfasily configured and integrated into the tools that drive
              your
              business today and in the future.
            </p>
          </div>

        </div>
        <a class="download__link" href="#">
          <div class="product__content columns">

            <div class="btn_download">
              download
            </div>

        </a>
      </div>

    </div>


  </div>
  <div class="column is-3 ">
    <div class="sidebar">
      <div class="sidebar__help">
        <h2>Need a Hand ?</h2>
        <div class="side__description">
          Want to setup a Drupal Commerce site, but not sure what all this
          means?
        </div>
        <div class="btn__primary">
          Yeah, Help Me Out!
        </div>
      </div>
      <div class="sidebar__summary">
        <h2>Build Summary</h2>
        <div class="side__description">
          Want to setup a Drupal Commerce site, but not sure what all this
          means?
        </div>
        <div class="btn__secondary">
          Generate package
        </div>
      </div>
    </div>

  </div>

</div>

</div>

<footer>
  <div class="portfolio__content">
    <h3>Who uses Drupal Commerce?</h3>
    <div class="footer__logos container">
      <img src="./gfx/telus-logo.png" alt="">
      <img src="./gfx/koodo-logo.png" alt="">
      <img src="./gfx/sandler-logo.png" alt="">
      <img src="./gfx/obermayer-logo.png" alt="">
      <img src="./gfx/orlo-logo.png" alt="">
      <img src="./gfx/lush-logo.png" alt="">
    </div>
  </div>

  <div class="footer__section container">
    <div class="brand__logos">
      <div class="columns">
        <div class="column">
          <a href="#">
            <div class="commerce-guy">
              <img src="./gfx/commerce-guy-logo.png" alt="">
            </div>
            <div class="logo__slogan">
              Creators of<br>
              Drupal Commerce

            </div>
          </a>
        </div>
        <div class="column">
          <a href="#">
            <div class="acromedia">
              <img src="./gfx/acromedia-logo.png" alt="">
            </div>
            <div class="logo__slogan">
              North America's #1<br>
              Drupal Commerce Provider
            </div>
        </div>
        </a>
      </div>
    </div>
    <div class="contact__section">
      <div class="site-url__block">
        drupalcommerce.com
      </div>
      <div class="email__block">
        solution@drupalcommerce.com
      </div>
    </div>
    <div class="footer__copyright">

      © 1998 - 2017 <a href="#">Acro Media Inc.</a> <a href="#">Privacy
      Policy </a>
    </div>
  </div>

</footer>
<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="/js/modules.js"></script>
</div>
</body>
</html>