.cards-slide-enter {
}

.cards-slide-enter-active {
  animation: slide-in .5s ease-out forwards;
}

.cards-slide-leave {
}

.cards-slide-leave-active {
  animation: slide-out .5s ease-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-110px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }

}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-110px);
    opacity: 0;
  }

}
