footer {
  background: $c-black;
}

.footer__section {
  padding: 40px 15px;
}

.portfolio__content {
  width: 100%;
  padding: 40px 15px;
  background: $c-white;

  h3 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 300;
    font-family: $roboto;
  }
}

.footer__logos {
  img {
    margin: 15px 20px;
  }
}

.brand__logos {
  margin-left: 80px;

  .acromedia,
  .commerce-guy {
    width: 190px;

    img {
      width: 100%;
    }
  }

  div {
    display: inline-block;
  }
  a {
    color: transparent;
    &:hover {
      color: transparent;
    }
  }
}

.logo__slogan {
  text-align: center;
  font-size: 23px;
  margin-left: 17px;
  font-weight: 300;
  color: #999;
}

.contact__section {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid $black-01;
  border-bottom: 1px solid $black-01;
}

.site-url__block {
  display: inline-block;
  color: $dark-grey;
  font-size: 20px;

  &:hover {
    color: $c-white;
  }

  &:before {
    content: '\E894';
    font-family: 'Material Icons';
    top: 5px;
    position: relative;
  }
}

.divider {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.email__block {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;

  &:hover {
    color: $c-white;
  }

  &:before {
    content: '\E0BE';
    font-family: 'Material Icons';
    top: 5px;
    position: relative;
  }
}

.select__box {
  .select__title {
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
  }
}

.select {
  select:focus {
    border-color: $light-blue;
  }

  &:after {
    border-color: $light-blue;
  }
}

.email__form {
  input {
    height: 2.8em;
  }
}

.footer__copyright {
  text-align: center;
  font-size: 12px;

  a:first-child {
    color: $dark-grey;

    &:hover {
      color: #999999;
    }
  }
}
