footer {
  background: $c-black;
}

.demo__content {
  width: 100%;
  padding: 35px 15px;
  background: $c-white;

  .container {
    padding-bottom: 35px;
    border-bottom: 1px solid $c-grey;
  }

  .demo__link {
    display: inline-block;

    .demo__screenshot {
      display: inline-block;
      width: 210px;
      vertical-align: middle;
      opacity: 1;
      transition: opacity .1s ease-in-out;

      @include bp(mobil) {
        width: 100%;
        text-align: center;
      }
    }

    .demo__info {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 0 20px;
      font-size: 18px;
      font-weight: 300;
      color: $dark-grey;

      h3 {
        color: $light-blue;
        font-size: 22px;
        font-weight: 500;
        font-family: $roboto;
        transition: color .1s ease-in-out;
      }

      @include bp(mobil) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }

    &:hover, &:focus {
      text-decoration: none;

      .demo__screenshot {
        opacity: 0.8;
      }

      .demo__info {
        h3 {
          color: $dark-blue;
        }
      }
    }
  }
}

.portfolio__content {
  width: 100%;
  padding: 5px 15px 30px;
  background: $c-white;

  h3 {
    text-align: center;
    padding: 5px 10px 15px;
    font-size: 30px;
    font-weight: 300;
    font-family: $roboto;
  }
}

.footer__section {
  padding: 40px 15px;
}

.footer__logos {
  text-align: center;

  img {
    margin: 15px 20px;
  }
}

.brand__logos {
  padding: 5px 0;
  text-align: center;
  color: #999;
  font-weight: 300;

  .column:first-of-type {
    border-right: 1px solid $black-01;
    @include bp(mobil) {
      margin-bottom: 30px;
    }
  }

  .acro-media,
  .commerce-guys {
    display: inline-block;
    max-width: 600px;

    .acro-media__logo,
    .commerce-guys__logo {
      display: inline-block;
      width: 190px;
    }
  }

  .brand__slogan {
    display: inline-block;
    font-size: 22px;
    margin-left: 20px;

    @media(max-width: 1191px) {
      margin-top: 10px;
      display: block;
    }
  }

  .brand__info {
    display: block;
    margin-top: 28px;
    font-size: 19px;
    line-height: 1.3em;
    @include bp(mobil) {
      display: none;
    }
    @media(max-width: 1191px) {
      font-size: 17px;
    }
  }

  .brand__links {
    margin-top: 48px;
    @include bp(mobil) {
      margin-top: 10px;
    }

    a {
      margin: 0 15px;
      color: $dark-grey;
      font-size: 21px;

      @media(max-width: 1191px) {
        display: block;
      }

      &.web-icon:before {
        content: '\E894';
        font-family: 'Material Icons';
        font-size: 21px;
        top: 5px;
        position: relative;
      }

      &.email-icon:before {
        content: '\E0BE';
        font-family: 'Material Icons';
        font-size: 21px;
        top: 5px;
        position: relative;
      }

      &:hover, &:focus {
        color: $c-white;
        text-decoration: none;
      }
    }
  }
}

.select__box {
  .select__title {
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
  }
}

.select {
  select:focus {
    border-color: $light-blue;
  }

  &:after {
    border-color: $light-blue;
  }
}

.email__form {
  input {
    height: 2.8em;
  }
}

.footer__copyright {
  margin-top: 28px;
  padding: 23px 0;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid $black-01;

  a:first-child {
    color: $dark-grey;

    &:hover, &:focus {
      color: #999999;
    }
  }
}
