header {
  background: $c-black url('../assets/gfx/header-bg.png') repeat-y;
  padding: 13px 15px;
}

.site-header__logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 312px;
  margin: 0 20px 0 6px;
  @include bp(mobil) {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  @media (max-width: 1191px) and (min-width: 861px) {
    max-width: 250px;
  }
}

.site-header__slogan {
  display: inline-block;
  vertical-align: bottom;
  max-width: 350px;
  font-size: 18px;

  color: #ccc;
  font-weight: 300;
  letter-spacing: 0.025em;
  @include bp(mobil) {
    width: 100%;
    text-align: center;
  }

  span {
    color: #ddd;
    font-weight: 500;
  }
}

.site-header__right {
  float: right;
  max-width: 315px;
  margin-top: 27px;
  color: #ccc;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  @include bp(mobil) {
    width: 100%;
    float: inherit;
  }
  @media (max-width: 1191px) and (min-width: 861px) {
    max-width: 240px;
  }
  @media(max-width: 860px) and (min-width: 769px) {
    float: inherit;
  }

  img {
    margin-bottom: 3px;
  }
}
