.kickstart {
  padding: 0 15px;

  &__main {
    padding: 0 14px;
    @media(max-width: 864px) and (min-width: 769px) {
      width: 100%;
      display: inline-block;
    }
  }

  &__wrapper {
    &.columns {
      @media(max-width: 864px) and (min-width: 769px) {
        display: inline-block;
      }
      @include bp(mobil) {
        margin: 0;
      }
    }
  }

  &__description {
    margin-top: 60px;
    margin-bottom: 50px;

    p {
      font-size: 16px;
      font-weight: normal;
      font-family: $roboto;
      color: $dark-grey;
    }
  }
}
@media screen and (max-width: 1000px){
  .footer__logos{
    text-align: center;
  } 
}
@media screen and (max-width: 1000px) and (min-width: $screen-sm) {
  .kickstart {
    &.container {
      max-width:760px;
      margin:0px auto;
    }
  } 
}
@media screen and  (max-width: 1000px){
  .is-one-quarter:nth-child(3n+1){
    clear:left;
  }
}
@media screen and (max-width: 500px){
  header.app-header{
    padding: 20px 14px !important;
  }
  .brand__logos {
    margin-left: 0 !important;
  }
}
