h2 {
  font-size: 27px;
  font-family: $roboto;
  font-weight: 300;
}

.arrow_up {
  width: 28px;
  position: relative;
  z-index: 2;
  display: block;
  top: 10px;
  float: right;
  margin-right: 20px;
  height: 28px;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:before {
    content: '\E316';
    font-size: 24px;
    text-align: center;
    top: 9px;
    color: #7a7a7a;
    cursor: pointer;
    line-height: 1;
    width: 28px;
    height: 28px;
    position: relative;
    font-family: 'Material Icons';
    border-radius: 50%;
    border: solid 2px #d1d1d1;
  }
}

.down {
  width: 28px;
  position: relative;
  display: block;
  top: 10px;
  float: right;
  margin-right: 20px;
  height: 28px;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:before {
    content: '\E313';
    font-size: 24px;
    text-align: center;
    top: 9px;
    color: #7a7a7a;
    cursor: pointer;
    line-height: 1;
    width: 28px;
    height: 28px;
    position: relative;
    font-family: 'Material Icons';
    border-radius: 50%;
    border: solid 2px #d1d1d1;
  }
}

.product {
  &__content {
    background: $c-white;
    opacity: 1;
    padding: 20px 30px 38px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 10px solid $grey-02;
    &.columns {
      @media(max-width: 864px) and (min-width: 769px) {
        width: 100%;
        display: inline-block;
      }
    }
    &.off {
      display: none;
      max-height: 0;
    }
  }
  &__build {
    margin-bottom: 60px;
  }
}

.box {
  &__content {
    padding: 10px 38px 38px;
  }
}

.top {
  &__info {
    background: $light-grey;
    position: relative;
    z-index: 1;
  }
}

.product__content{
  .box__item {
    position: relative;
  }
  .item-link{
    position: absolute;
    right: 0.35em;
    top: 0.35em;
    font-size: 12px;
  }
  .item-icon{
    font-size: 20px;
  }
  .disabled{
    .item-link{
      color: #ccc;
    }
  }
}

.section-icons {
  width: 36px;
  height: 32px;
  display: inline-block;
  &.material-icons {
    color: $light-blue;
    position: relative;
    top: 7px;
    left: -3px;
    font-size: 35px;
    font-family: 'Material Icons';
  }

  &__custom {
    position: relative;
    background-size: contain;
  }
}


// Build and install.
.product__build {
  .box__content a {
    color: $c-white;
    text-decoration: underline;

    &:hover, &:focus {
      color: #b2e9ff;
    }
  }

  .build__link {
    max-width: 230px;
    padding-left: 60px;
    font-size: 22px;
  }
}


