// Links

// Colors
$c-grey: #efefef;
$light-blue: #00aeef;
$c-blue: #24a8e0;
$dark-blue: #0472a6;
$c-black: #000;
$black-01: #333;
$dark-grey: #666666;
$light-grey: #f8f8f8;
$c-white: #fff;
$grey-01: #ccc;
$grey-02: #e6e6e6;
$grey-03: #999999;
$orange: #ff6501;
$yellow-warning: #f93;

// Fonts
$roboto: 'Roboto', sans-serif;

/**
 * Responsive helpers.
 */
$screen-min: 320px;

// Extra small screen / phone.
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

// Small screen / tablet.
$screen-sm: 769px !default;
$screen-sm-min: $screen-sm !default;

// Medium screen / desktop.
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

// Large screen / wide desktop.
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// So media queries don't overlap when required, provide a maximum.
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// Bulma Responsive.
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 20px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default
