header {
  background: $c-black url('../gfx/header-bg.png')no-repeat;
  padding: 20px 0;
}

.site-header__logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}
.site-header__slogan {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #ccc;
  font-weight: 300;
}
.site-header__right {
  float: right;
  color: $c-blue;
  font-size: 22px;
  margin-top: 20px;
  span {
    font-size: 30px;
    color: $dark-gray;
    a {
      color:$dark-gray;
      text-decoration: none;
    }

  }
}

.main__section {
  padding: 0 14px;
}

.main_description {
  margin-top: 60px;
  margin-bottom: 50px;

  p {
    font-size: 16px;
    font-weight: normal;
    font-family: $roboto;
    color: $dark-gray;
  }
}

h1 {
  color: $ligth-blue;
  font-size: 40px;
  font-weight: 300;
}


h2 {
  font-size: 27px;
  font-family: $roboto;
  font-weight: 300;
}

.product__build {
  margin-bottom: 60px;
}

.box__content {
  padding: 38px;
}

.top__info {
  background: $ligth-gray;
}

.product__content {
  background: $c-white;
  padding: 20px 30px 38px 30px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 10px solid $gray-02;
}

.box__item {
  border-top: 4px solid $gray-01;
  border-right: 1px solid $gray-01;
  border-bottom: 1px solid $gray-01;
  border-left: 1px solid $gray-01;
  margin: 10px 8px;
  h3 {
    text-align: center;
    color: $ligth-blue;
    font-size: 22px;
  }
  &:hover {
    cursor: pointer;
    border-top: 4px solid $c-blue;
    border-right: 1px solid $c-blue;
    border-bottom: 1px solid $c-blue;
    border-left: 1px solid $c-blue;
  }
}
.box__description {
  text-align: center;
  font-size: 16px;
}

.location__build {}
.payments {
  .box__item {
    width: 220px;
    display: inline-block;
    padding: 18px;
    margin: 10px 4px;
  }
  .pay__logo {
    min-height: 113px;
  }
  .pay-sponsor {
    color: $ligth-blue;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.build__content {
  .box__content {
    background: $c-blue;
    h2 {
      color:$c-white;
    }
    p {
      color: $c-white;
    }
  }
}
.icon-world:before {
  content: '\E894';
  color: $ligth-blue;
  position: relative;
  top: 7px;
  left: -7px;
  font-size: 35px;
  font-family: 'Material Icons';
}


.icon-security:before {
  content: '\E32A';
  color: $ligth-blue;
  position: relative;
  top: 7px;
  left: -7px;
  font-size: 35px;
  font-family: 'Material Icons';
}

.icon-payment:before {
  content: '\E870';
  color: $ligth-blue;
  position: relative;
  top: 7px;
  left: -7px;
  font-size: 35px;
  font-family: 'Material Icons';
}

.icon-package:before {
  background: url('../gfx/package-icon.png')no-repeat;
  content: '';
  display: inline-block;
  position: relative;
  top: 7px;
  left: -7px;
  width: 36px;
  height: 32px;
}

.icon-drupal:before {
  background:$c-blue url('../gfx/drupal-icon.png')no-repeat;
  content: '';
  display: inline-block;
  position: relative;

  top: 7px;
  left: -7px;
  width: 38px;
  height: 43px;
}
.sidebar {
  position: relative;
  top: 232px;
}
.sidebar__help {
  display: inline-block;
  color: $c-white;
  background: $ligth-blue;
  padding: 5px 20px;
  margin: 0 6px;
  text-align: center;
  h2 {
    font-size: 22px;
    padding-top: 5px;
    font-weight: 500;
  }
  .side__description {
    font-size: 15px;
  }
  .btn__primary {
    background: $c-white;
    margin: 0 auto;
    width: 200px;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 25px;
    color: $c-blue;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 4px solid $c-blue;
  }
}
.sidebar__summary {
  margin-top: 50px;
  display: inline-block;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  h2 {
    font-size: 22px;
    background: #00aeef;
    font-weight: 500;
    padding: 15px;
  }
  .side__description {
    background: $c-white;
    min-height: 200px;
    padding: 30px 15px;

  }

  .btn__secondary {
    background: #f2f7f3;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    position: relative;
    top: -23px;
    color: $orange;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 4px solid $orange;
    border-top: 1px solid $orange;
    border-right: 1px solid $orange;
    border-left: 1px solid $orange;
  }
}

.btn_download {
  width: 230px;
  height: 51px;
  padding-top: 5px;
  padding-left: 30px;
  text-align: center;
  font-size: 25px;
  color: $ligth-blue;
  text-transform: capitalize;
  border: solid 1px $ligth-blue;
  &:before {
    content: '\E2C4';
    color: $c-white;
    font-size: 30px;
    margin-top: -5px;
    font-family: 'Material Icons';
    background: $ligth-blue;
    width: 50px;
    position: absolute;
    padding-top: 2px;
    left: 31px;
    text-align: center;
    display: inline-block;
    height: 50px;
  }
}
footer {
  background: $c-black;
}
.footer__section {
  padding: 40px;
}
.portfolio__content {
  background: $c-white;
  width: 100%;
  padding: 40px 0;
}
.footer__logos {
  img {
      margin: 15px 20px;
  }
}
.brand__logos {
  margin-left: 80px;
  .commerce-guy, .acromedia {
    width: 190px;
    img {
      width: 100%;
    }
  }
  div {
    display: inline-block;
  }

}
.logo__slogan {
  font-size: 23px;
  margin-left: 18px;
  font-weight: 300;
  color: #999;
}
.contact__section {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 20px 0;
  border-top: 1px solid $black-01;
  border-bottom: 1px solid $black-01;
}
.site-url__block {
  display: inline-block;
  color: $dark-gray;
  font-size: 20px;
  &:hover {
    color: $c-white;
  }
  &:before {
    content:'\E894';
    font-family: 'Material Icons';
    top: 5px;
    position: relative;
  }
}
.email__block {
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  &:hover {
    color: $c-white;
  }
  &:before {
    content:'\E0BE';
    font-family: 'Material Icons';
    top: 5px;
    position: relative;
  }
}

.footer__copyright {
  text-align: center;
  font-size: 12px;
  a:first-child {
    color: $dark-gray;
    &:hover {
      color: #999999;
    }
  }
}
