

// Links

// colors
$c-gray:         #efefef;
$ligth-blue:     #00aeef;
$c-blue:         #24a8e0;
$dark-blue:      #0472a6;
$c-black:        #000;
$black-01:       #333;
$dark-gray:      #666666;
$ligth-gray:     #f8f8f8;
$c-white:        #fff;
$gray-01:        #ccc;
$gray-02:        #e6e6e6;
$orange:         #ff6501;

//fonts
$roboto: 'Roboto', sans-serif;
