

// Links

// colors
$c-gray:         #efefef;
$ligth-blue:     #00aeef;
$c-blue:         #24a8e0;
$dark-blue:      #0472a6;
$c-black:        #000;
$black-01:       #333;
$dark-gray:      #666666;
$ligth-gray:     #f8f8f8;
$c-white:        #fff;
$gray-01:        #ccc;
$gray-02:        #e6e6e6;
$orange:         #ff6501;

//fonts
$roboto: 'Roboto', sans-serif;

/**
 * Responsive helpers.
 */
$screen-min: 320px;

// Extra small screen / phone.
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

// Small screen / tablet.
$screen-sm: 769px !default;
$screen-sm-min: $screen-sm !default;

// Medium screen / desktop.
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

// Large screen / wide desktop.
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// So media queries don't overlap when required, provide a maximum.
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
